/.mvn/**
.idea
/.idea/**
/target/**
/provision/jenkins/.java/**
.vagrant/
/icarters-common/target/
/icarters-webapp/target/
/provision/jenkins/.jenkins/**
/provision/jenkins/.m2/**
/provision/jenkins/.oracle_jre_usage/**
/.m2/**
/provision/jenkins/.owner
/provision/jenkins/Download metadata.log
/provision/jenkins/cache/**
/provision/jenkins/copy_reference_file.log
/provision/jenkins/fingerprints/**
/provision/jenkins/identity.key.enc
/provision/jenkins/init.groovy.d/**
/provision/jenkins/jenkins.model.ArtifactManagerConfiguration.xml
/provision/jenkins/jenkins.model.JenkinsLocationConfiguration.xml
/provision/jenkins/jenkins.mvn.GlobalMavenConfig.xml
/provision/jenkins/nodeMonitors.xml
/provision/jenkins/plugins/**
/provision/jenkins/queue.xml
/provision/jenkins/queue.xml.bak
/provision/jenkins/secret.key
/provision/jenkins/secret.key.not-so-secret
/provision/jenkins/secrets/**
/provision/jenkins/tools/**
/provision/jenkins/updates/**
/provision/jenkins/userContent/**
/provision/jenkins/war/**
/provision/jenkins/workspace/**
/data/**
node_modules
icarters-webapp/src/main/resources/static/css
icarters-webapp/src/main/resources/static/js
